<html>
<body>
<h1>Reset Password</h1>
<label>Email:</label>
<input id="email" name="email" type="email" />
<button type="submit" onclick="resetPass()">Reset</button>
<a href="/registration.html">Registration</a>
<a href="/login">Login</a>

<script src="jquery.min.js"></script>
<script>
    var serverContext = "/";
    function resetPass() {
        var email = $("#email").val();
        $.post(serverContext + "api/users/resetPassword", {email: email}, function(data) {
            alert(data.message);
        }).fail(function(data) {
            alert(data.responseJSON.message);
        });
    }
</script>
</body>
</html>
